In [2]:
import pandas as pd
df = pd.read_csv("./국립암센터_암발생 통계 정보_20250108.csv")

In [4]:
type(df)

pandas.core.frame.DataFrame

In [6]:
df.shape

(35625, 7)

In [7]:
df.head(3)

   발생연도    성별           국제질병분류   암종     연령군  발생자수  조발생률
0  1999  남녀전체  00. All cancers  모든암  00-04세   539  16.1
1  1999  남녀전체  00. All cancers  모든암  05-09세   297   8.6
2  1999  남녀전체  00. All cancers  모든암  10-14세   306   9.6

In [8]:
df['발생연도']

0             1999
1             1999
2             1999
3             1999
4             1999
           ...
35620    1999-2022
35621    1999-2022
35622    1999-2022
35623    1999-2022
35624    1999-2022
Name: 발생연도, Length: 35625, dtype: object

In [9]:
type(df['발생연도'])

pandas.core.series.Series

In [10]:
type(df['발생연도'].values)

numpy.ndarray

In [14]:
import numpy as np

vector = np.array([1, 2, 3, 4, 5])

In [ ]:
vector * 5      # 리스트의 경우 해당 원소를 5번 반복

array([ 5, 10, 15, 20, 25])

In [ ]:
df.iloc[0,:]            # 특정 위치의 행/열을 숫자 인덱스로 선택

발생연도                 1999
성별                   남녀전체
국제질병분류    00. All cancers
암종                    모든암
연령군                00-04세
발생자수                  539
조발생률                 16.1
Name: 0, dtype: object

In [19]:
df.iloc[0,:].values

array(['1999', '남녀전체', '00. All cancers', '모든암', '00-04세', np.int64(539),
       np.float64(16.1)], dtype=object)

---

In [22]:
import numpy as np
import scipy as sp

In [23]:
data = np.array(range(10)) + 1

In [26]:
data.var()

np.float64(8.25)

In [25]:
pd.DataFrame(data).var()

0    9.166667
dtype: float64

- **NumPy** `var()` → 모집단 분산 (ddof=0)

- **Pandas** `DataFrame.var()` → 표본 분산 (ddof=1)

In [27]:
data.std()

np.float64(2.8722813232690143)

In [28]:
pd.DataFrame(data).std()

0    3.02765
dtype: float64

---

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35625 entries, 0 to 35624
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   발생연도    35625 non-null  object
 1   성별      35625 non-null  object
 2   국제질병분류  35625 non-null  object
 3   암종      35625 non-null  object
 4   연령군     35625 non-null  object
 5   발생자수    35625 non-null  int64
 6   조발생률    29862 non-null  float64
dtypes: float64(1), int64(1), object(5)
memory usage: 1.9+ MB

In [30]:
df.loc[1, ['발생연도', '암종']]

발생연도    1999
암종       모든암
Name: 1, dtype: object

In [31]:
df.loc[1:3, ['발생연도','암종']]

   발생연도   암종
1  1999  모든암
2  1999  모든암
3  1999  모든암

- loc → 라벨 기반 (행/열의 **이름**으로 선택)

- iloc → 정수 기반 (행/열의 **위치 번호**로 선택)

---

In [32]:
def get_ab(a, b):
    return a + b

In [33]:
get_ab(10, 20)

30

In [34]:
(lambda a, b : a + b )(10, 20)

30

---

In [35]:
df['성별'].unique()

array(['남녀전체', '남자', '여자'], dtype=object)

```python
df['성별'].apply(lambda x : 'x' if x == "남녀전체" else x)

def tmp(x):
    if x == "남녀전체":
        return '9'
    else:
        retrun x

df['성별'].apply(tmp)